@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald&display=swap');

.container{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-family: 'Oswald', sans-serif;
}

h3{
  font-family: 'Oswald', sans-serif;
}

h5{
  font-family: 'Oswald', sans-serif;
}